#body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

#btncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

#button-wrapper p {
  font-size: 20px;
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
}

#loginbtn {
  color: green;
  font-size: 140%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-color: black;
  border-radius: 12px;
  padding: 5px;
  transition-duration: 0.4s;
}

#loginbtn:hover {
  background-color: green;
  opacity: 0.9;
  color: white;
  cursor: pointer;
}
