* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-size: cover;
  background-color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
  color: white;
  background-color: black;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav a {
  color: inherit;
  font-size: 25px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav a:hover {
  color: black;
  background-color: #1db954;
}

.content {
  margin-top: 10vh;
}

/* Media query for tablet screens */
@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 2%;
  }

  .nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .nav a {
    padding: 0.5rem;
    font-size: 20px;
  }

  .content {
    margin-top: 15vh;
  }
}

@media only screen and (max-width: 600px) {
  .nav a {
    font-size: 18px;
  }

  .content {
    margin-top: 20vh;
  }
}
